<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" style="height:100%;width:100%;border: 1px solid yellow;">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="/sheep/js/base.js" th:src="@{/sheep/js/base.js}"></script>
    <script src="/sheep/js/jquery.js" th:src="@{/sheep/js/jquery.js}"></script>
    <script src="/video/js/ezuikit.js" th:src="@{/video/js/ezuikit.js}"></script>
    <script src="/video/js/video_test.js" th:src="@{/video/js/video_test.js}"></script>
</head>
<body style="height:90%;width:80%;border: 1px solid blue;">
<input type="button" value="换视频" id="bb"/>
<input type="button" value="播放" id="play"/>
<input type="button" value="关闭" id="close"/>
<div style="height:90%;width:80%;border: 1px solid red;">
    <div id="ysopen"  title="循环监控01"style="width: 100%;height: 100%;"></div>
</div>
</body>
</html>
